<html>
<link rel="stylesheet" href="../static/css/styles.css">
<header>
<div class="w3-container w3-blue">
<h1>Retrived from Simple Python WebApp</h1>
</div>
</header>
<body>
    <div class="w3-panel w3-card w3-teal"><p>The number of CPU Cores: {{ cores }}</p></div>
    <div class="w3-panel w3-card w3-teal"><p>The Ram Used : {{ ramused }}%</p></div>
    <div class="w3-panel w3-card w3-teal"><p>OS Version : {{ osversion }}</p></div>
    <div class="w3-panel w3-card w3-teal"><p>Hostname : {{ hostname }}</p></div>
</body>
</html>
